// Import all partials
@require './_*.styl'
// @require './_*/_*.styl'

.navgroup__item a { 
	text-decoration: none;
}

/* HEADER, NAV */

.header {
  line-height: 80px;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
}

.navgroup {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.navgroup__item {
  display: inline-block;
  flex: 1;
  text-align: center;
  padding: 5px;
  font-family: 'Cutive', serif;
}
.navgroup__item.logo {
  flex: 2;
  font-family: 'BioRhyme', serif;
  font-size: 40px;
}
.marker-icon {
  height: 32px;
}

/* MAP DESCRIPTION */
.map-info {
  display: block;
  width: 100%;
  padding: 10px 50px;
}
.map-info__label {
  padding-right: 5px;
}
.map-info__label, .map-info__copy {
  font-family: 'Cutive', serif;
  display: inline-block;
  color: #999;
  line-height: 25px;
}

/* MAP CONTAINER*/
.map-container {
  position: relative;
}
.search-box {
  margin: 0 30px;
  width: 100%;
  max-width: 290px;
  float: right;
}
.search-input {
  width: 100%;
  font-size: 15px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #EA5959;
  padding: 0 5px;
  font-family: 'Cutive', serif;
}
.mappy {
  background-color: #eee;
}

/* MAP WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
  
.filter-column {
  grid-column: 1 / 3;
  grid-row: 1;
}

h1, h3, p, label, input {
  font-family: sans-serif;
}